<!DOCTYPE html>
<html>

<body>
  <div class="container">
    <h2 class="comp1">CRICKET</h2>
    <div class="row">
      <figure>
        <img src='../../assets/img/1.jpg'>
        <figcaption style="text-align: center;">Virat Kohli</figcaption>
      </figure>
      <figure>
        <img src='../../assets/img/2.jpg'>
        <figcaption style="text-align: center;">M S Dhoni</figcaption>
      </figure>
      <figure>
        <img src='../../assets/img/3.jpg'>
        <figcaption style="text-align: center;">Steven Smith</figcaption>
      </figure>
    </div>
  </div>
</body>

</html>
