<!DOCTYPE html>
<html>

<body>
  <div class="container">
    <h2 class="comp1">FOOTBALL</h2>
    <div class="row">
      <figure>
        <img src='../../assets/img/4.jpg'>
        <figcaption style="text-align: center;">Pele</figcaption>
      </figure>
      <figure>
        <img src='../../assets/img/5.jpg'>
        <figcaption style="text-align: center;">Ronaldo</figcaption>
      </figure>
      <figure>
        <img src='../../assets/img/6.jpg'>
        <figcaption style="text-align: center;">Messi</figcaption>
      </figure>
    </div>
  </div>

</body>

</html>
